.top-heading {
    display: flex;
    margin: 1% 20% 1%;
    background: #359a34;
    color: #FFF;
}
.help-info {
    width: 100%;
    padding: 1%;
}
.help-info p{
    margin:0
}
.help-info p i {
    padding: 0 1% 0 1%;
}
.next-arrow { 
   float: right;
    background: #0d480c;
    padding: 1%;
}


.card-header {
    position: relative;
    color: cornflowerblue;
    background: none;
}
.card-header::after {
    content: "\f077";
    color: #333;
    top: -1px;
    right: 10px;
    position: absolute;
    font-family: "FontAwesome"
}

.new-card-header {
    position: relative;
    padding-left: 20px;
    padding-top: 10px;
    color: cornflowerblue;
}
.new-card-header::after {
    content: "\f078";
    color: #333;
    top: -1px;
    right: 10px;
    position: absolute;
    font-family: "FontAwesome"
}
/* .card-header[aria-expanded="true"]::after {
    content: "\f078";
}
.card-header-full {
    padding: 0;
}

.card-header-full {
    padding: 10px 15px;
}

.card-header-full::after {
    top: 10px;
    right: 15px;
} */

.body-1 {
    width: 100%;
    border: 1px solid #037288;
	padding: 0 1%;
	border-radius: 2px;
    padding-bottom:15px;
    font-size: .8em;
    border: none;
}
.body-2 {
    width: 100%;
    border: 1px solid #037288;
	padding: 0 1%;
	border-radius: 2px;
    padding-bottom:15px;
    font-size: .8em;
    border: none;
}
.body-3 {
    width: 100%;
    border: 1px solid #037288;
	padding: 0 1%;
	border-radius: 2px;
    padding-bottom:15px;
    font-size: .8em;
    border: none;
}
.body-4 {
    width: 100%;
    border: 1px solid #037288;
	padding: 0 1%;
	border-radius: 2px;
    padding-bottom:15px;
    font-size: .8em;
    border: none;
}