.logo {
    height: 32px;
    margin: 16px;
    background: rgb(83, 81, 81);
}
  
.site-layout .site-layout-background {
    background: #fff;
}


[data-theme="dark"] .site-layout .site-layout-background {
    background: #141414;
}

